section {
    width: 100%;
    box-sizing: border-box;
    .up {
        animation-name: up;
        animation-duration: 1000ms;
        animation-fill-mode: backwards;
      }  
    .container {
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 20px;
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 717px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }
        .footer {
            height: 100px!important;
            width: 100%;
        }        
    }
    
    h1 {
        font-size: 34px;
        margin-bottom: 10px;
        line-height: 38px;
    } h1 span {
        font-size: 40px;
        color:  #ff7b43;    /* color of the scroll thumb */
    
    }
    p.description {
        margin-bottom: 20px;
    } strong {
        font-weight: 600;
    } i {
        text-decoration: underline;
    }
    .certification {
        background-color: #2A2828;
        margin: 3px 0;
        padding: 5px 10px;
        border-left: 4px solid #ff7b43;
    }
    h3 {
        margin-top: 15px;
    }
}