@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

:root {
    --darkBg: #201E1E;
} 

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ff7b43;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--darkBg);  /* creates padding around scroll thumb */
  }

body {
    background-color: var(--darkBg);
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: black #ff7b43;   /* scroll thumb and track */
}

a {
    text-decoration: none;
}
